#container {
	font-family: Georgia, serif;
	width: 100%;
	max-width: 700px;
	margin: auto;
}

/* story styling  - Ben and Alessio's stuff */

#baby {
	width: 90%;
	display: block;
	margin: auto;
	max-width: 500px;
}

.image_caption {
	font-style: italic;
	font-size: 0.8em;
	margin-top: 2em;
}

.align_center {
	text-align: center
}

#pull_quote {
	width: 100%;
	background: #eee;
	font-size: 1.4em;
	margin-bottom: -0.5em
}

li {
	margin: 0.5em 0em;
}

/* MAP LEGEND */
.legend_span {
	font-size: 0.8em;
}

#rate_span {
	margin-bottom: 2em;
}

/* All same width and centered */

#people_vis, .slider_ticks_div, #income_slider, #threshold_text  {
	width: 50%;
	margin: auto;
}

/* Info text */

#money_threshold_slider_graphic {
	text-align: center
}

.slider_info {
	clear: both;
	display: block;
}

.slider_figure {
	height: 1em;
	padding: 0.1em;
	font-size: 3em
}

/* tick styles */

.slider_tick {
	font-size: 0.8em;
}

#start_value {
	float: left;
}

#end_value {
	float: right;
}

/* threshold styles */

#threshold_text {
	width: 100%;
	background: #eee;
	height: 1em;
	padding: 0.1em;
	margin: 0.5em auto;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


