body {
	font-family: helvetica, sans-serif;
}

#map {
	height: 50vw;
	width: 96%;
	margin: auto;
}

#money_threshold {
	text-align: center
}

.slider_info {
	display: block;
}

.slider_figure {
	height: 1em;
	padding: 0.1em;
	font-size: 3em
}

#people_vis {
	width: 50%;
	margin: auto;
}


#income_slider {
	width: 50%;
	margin: auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.gradient_block {
	display: inline-block;
	height: 1.5em;
	width: 1px;
}

.gradient {
	width: 100px;
	display: inline-block;
}

#div {
	background-color: #888;
}

td {
	padding: 0.5em;
}

.legend_label {
	padding-bottom: 5px;
	margin: 0 5px;
	/* text-transform: uppercase; */
}

div.gradient {
	vertical-align: -5px;
}

p a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
	box-shadow: inset 0 -5px 0 lightblue;
	text-decoration: none;
	transition: background .20s linear;
}

p a:hover {
	background-color: lightblue;
}

/* Calculator CSS */

div#output {
  margin: 1em, auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input#user_guess {
  border: 5px solid rgb(1, 70, 54);
  height: 3em;
  box-sizing: border-box;
  vertical-align: -1px;
}

button#go_button {
  text-transform: uppercase;
  height: 3em;
  border: 5px solid rgb(1, 70, 54);
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: #fff;
}

div#savings_calculator {
	border: dashed 0.5px black;
	padding: 10px;

}

@media only screen and (max-width: 720px) {
	#map {
		height: 80vw;
		width: 96%;
		margin: auto;
	}
}
