* {
	font-family: "Source Sans Pro", sans-serif;
}

body {
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 2.6em;
	color: #014636;
	margin-bottom: 0;
}

#map {
	height: 80vh;
	width: 96%;
	margin: auto;
}

#money_threshold {
	text-align: center
}

.end_line {

	border: solid #014636 0.25em;
	background-color: #014636;
	margin-bottom: 0;
}

#byline {
	text-align: right;
	margin-bottom: 30vh;
}

.slider_info {
	display: block;
}

.slider_figure {
	height: 1em;
	padding: 0.1em;
	font-size: 3em
}

#people_vis {
	width: 50%;
	margin: auto;
}


#income_slider {
	width: 50%;
	margin: auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

h4 {

	margin-top: 0.2em;
	font-weight: 400;
	font-size: 1.2em;
	font-style: italic;
}


.gradient_block {
	display: inline-block;
	height: 1.5em;
	width: 1px;
}

.gradient {
	width: 100px;
	display: inline-block;
}

#div {
	background-color: #888;
}

td {
	padding: 0.5em;
}

.legend_label {
	padding-bottom: 5px;
	margin: 0 5px;
	/* text-transform: uppercase; */
}

div.gradient {
	vertical-align: -5px;
}

p a {
	color: black;
	box-shadow: inset 0 -5px 0 lightblue;
	text-decoration: none;
	transition: background .20s linear;
}

p a:hover {
	background-color: lightblue;
}

/* Calculator CSS */

div#output {
  margin-top: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input#user_guess {
  border: 5px solid rgb(1, 70, 54);
  height: 3em;
  box-sizing: border-box;
  margin-top: -1px;
}

button#go_button {
  text-transform: uppercase;
  height: 3em;
  border: 5px solid rgb(1, 70, 54);
  background-color: rgb(1, 70, 54);
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: #fff;
}

div#savings_calculator {
	border: solid 2px lightblue;
	background-color: #e5e5e5;
	padding: 10px; 
}

div#savings_calculator h3{
	margin: 0;
}

video#headline_video {
	opacity: 1;
	z-index: -1;
	position: absolute;
	top: 0;

	background-color: #fff;
	background-size: cover;

	-webkit-transition: opacity 2s ease-out;
	-moz-transition: opacity 2s ease-out;
	-o-transition: opacity 2s ease-out;
	transition: opacity 2s ease-out;
}

div#container {
	margin: auto;
	margin-top: 100vh;
	width: 100%;
	max-width: 700px;

	-webkit-transition: margin-top 0.8s ease-in-out 2.5s;
	-moz-transition: margin-top 0.8s ease-in-out 2.5s;
	-o-transition: margin-top 0.8s ease-in-out 2.5s;
	transition: margin-top 0.8s ease-in-out 2.5s;
}

img#headline_gif {
	display: none;
}

/* story styling  - Ben and Alessio's stuff */

#baby {
	width: 90%;
	display: block;
	margin: auto;
	max-width: 500px;
}

.image_caption {
	font-style: italic;
	font-size: 0.8em;
	margin-top: 2em;
}

.align_center {
	text-align: center
}

#pull_quote {
	width: 100%;
	padding: 0 0.5em;
	box-sizing: border-box;
	background: lightblue;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#pull_quote h3 {
	margin-top: 0.8em;
	margin-bottom: 0.1em;
}

.quote_attribution {
	padding: 0.5em;
	margin: 0;
	text-align: right;
	font-size: 0.7em;
	line-height: 1em;
	font-weight: 400;
}

em {
	font-weight: 100;
}

li {
	margin: 0.5em 0em;
}

/* MAP LEGEND */
.legend_span {
	font-size: 0.8em;
}

#rate_span {
	margin-bottom: 2em;
}

/* All same width and centered */

#people_vis, .slider_ticks_div, #income_slider, #threshold_text  {
	width: 50%;
	margin: auto;
}

.person {
	width: 5%;
}

/* Info text */

#money_threshold_slider_graphic {
	text-align: center
}

.slider_info {
	clear: both;
	display: block;
}

.slider_figure {
	height: 1em;
	padding: 0.1em;
	font-size: 3em
}

/* tick styles */

.slider_tick {
	font-size: 0.8em;
}

#start_value {
	float: left;
}

#end_value {
	float: right;
}

/* threshold styles */

#threshold_text {
	width: 100%;
	background: #eee;
	padding: 0.1em;
	margin: 0.5em auto;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 720px) {
	#map {
		height: 80vh;
		width: 96%;
		margin: auto;
	}

	div#container {
		width: 95%;
		opacity: 1;
		margin-top: 0;
	}

	video#headline_video {
		display: none;
	}

	img#headline_gif {
		display: block;
		width: 100%;
	}
	
	#people_vis, .slider_ticks_div, #income_slider, #threshold_text  {
		width: 90%;
	}

	#threshold_text {
		margin-bottom: 1em;
	}

}
