body {
	font-family: helvetica, sans-serif;
}

#map {
	height: 50vw;
	width: 96%;
	margin: auto;
}

#money_threshold {
	text-align: center
}

.slider_info {
	display: block;
}

.slider_figure {
	height: 1em;
	padding: 0.1em;
	font-size: 3em
}

#people_vis {
	width: 50%;
	margin: auto;
}


#income_slider {
	width: 50%;
	margin: auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.gradient_block {
	display: inline-block;
	height: 1.5em;
	width: 1px;
}

.gradient {
	width: 100px;
	display: inline-block;
}

#div {
	background-color: #888;
}

td {
	padding: 0.5em;
}
